{% extends "base.html" %} 
{% block title %}Ganancias netas{% endblock %}

{% block content %}
<br />
<br />
<div class="py-5 text-center">
    <h2>Información de ganancias netas</h2>
    <div class="container-fluid">
        <div class="text-center">
            <form method="GET" class="d-inline-flex p-2">
                <input id="busqueda_fecha1" class="form-control me-2" type="search" placeholder="Fecha #1: YYYY-MM-DD" aria-label="Search">
                <input id="busqueda_fecha2" class="form-control me-2" type="search" placeholder="Fecha #2: YYYY-MM-DD" aria-label="Search">
                <a class="btn btn-outline-success" onclick='javascript: window.open("consultar_ganancias_netas_fechas?fecha1="+document.getElementById("busqueda_fecha1").value+"&fecha2="+document.getElementById("busqueda_fecha2").value, "_self");' type="submit">Buscar por fecha</a>
              </form>
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Buscar por sucursal
              </button>
              <ul class="dropdown-menu">
                {% for row in sucursales %}
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_sucursal?sucursal={{row.nombre}}">{{row.nombre}}</a></li>
                {% endfor %}
              </ul>
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Buscar por categoría
              </button>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/consultar_ganancias_netas">Ver todas las ganancias</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Abarrotes">Abarrotes</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Jugos+y+bebidas">Jugos y bebidas</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Licores">Licores</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Alimentos+congelados">Alimentos congelados</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Panaderia">Panadería</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Lacteos">Lácteos</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Embutidos">Embutidos</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Frutas+y+verduras">Frutas y verduras</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Carnes+y+pescados">Carnes y pescados</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Hogar">Hogar</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Electronica">Electrónica</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Higiene">Higiene</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Mascotas">Mascotas</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_categoria?categoria=Bebes+y+chiquitos">Bebés y chiquitos</a></li>
            </ul>
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Buscar por país
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_pais?pais=Costa+Rica">Costa Rica</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_pais?pais=Guatemala">Guatemala</a></li>
                <li><a class="dropdown-item" href="/consultar_ganancias_netas_pais?pais=Panama">Panama</a></li>
              </ul>
        </div>
        <br />
    <h3>Viendo ganancias netas totales</h3>
    <br />
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">País</th>
        <th scope="col">Total generado por ventas</th>
        <th scope="col">Total pagado en pedidos de proveedor</th>
        <th scope="col">Total pagado en salarios</th>
        <th scope="col">Ganancias netas totales</th>
      </tr>
    </thead>
    <tbody>
        {% if ganancias %}
        {% set count = namespace(value=0) %}
        {% for row in ganancias %}
        {% set count.value = count.value + 1 %}
      <tr>
        <th scope="row">
            {% if count.value==1 %}
            Costa Rica
            {% elif count.value==2 %}
            Guatemala
            {% else %}
            Panama
            {% endif %}
        </th>
        <td>
            {{row[0][0]}}
            {% if count.value==1 %}
            colones
            {% elif count.value==2 %}
            quetzales
            {% else %}
            balboas
            {% endif %}
        </td>
        <td>
            {{row[0][1]}}
            {% if count.value==1 %}
            colones
            {% elif count.value==2 %}
            quetzales
            {% else %}
            balboas
            {% endif %}
        </td>
        <td>{{row[0][2]}}
            {% if count.value==1 %}
            colones
            {% elif count.value==2 %}
            quetzales
            {% else %}
            balboas
            {% endif %}
        </td>
        <td>{{row[0][3]}}
            {% if count.value==1 %}
            colones
            {% elif count.value==2 %}
            quetzales
            {% else %}
            balboas
            {% endif %}
        </td>
      </tr>
      {% endfor %}
      {% else %}
            <br />
            <br />
            <br />
            <br />
            <div class="container-fluid">
                <div class="text-center text-black">
                    <h1 class="fw-bolder">No se encontraron ganancias.</h1>
                </div>
            </div>
      {% endif %}
    </tbody>
  </table>
{% endblock %}